# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/

# Distribution / packaging
.Python
env/
venv/
build/
dist/
*.egg-info/
.eggs/

# Installer logs
debug.log
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Allure results and reports
reportes/allure-results/
reportes/allure-report/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# Otros archivos temporales
*.tmp
*.swp
*.bak
*.orig
*.old

# Archivos de configuración de sistema
.idea/ 